@font-face {
  font-family: Barlow-Regular;
  src: url(./assets/fonts/Barlow-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow-Regular;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 193px;
  cursor: pointer;
  position: relative;
  padding: 10px;
}
.box h4 {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
#modal {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #ecf0f1;
  text-shadow: 1px 1px 3px #000;
  flex-direction: column;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
#modal.show {
  display: flex;
  opacity: 1;
  visibility: visible;
}
#modal h1 {
  margin-bottom: 30px;
  font-size: 100px;
  text-align: center;
  width: 100%;
  background-color: #ffffff54;
}
#modal h2 {
  font-size: 50px;
}
.copy {
  display: none;
  color: #fff;
  padding: 10px;
  border: 1px solid #ffffff54;
  border-radius: 10px;
  font-size: 18px;

}
.box:hover .copy {
  display: block;
  transition: 0.5s;
}
